body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#start-button, #reset-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

#show-lines-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#quadrants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 90vw;
    height: 90vh;
    margin: auto;
}

.quadrant {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border: 1px solid transparent;
}

.quadrant.show-lines {
    border: 2px solid black;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

/* Fundo verde e borda redonda ao clicar */
.number.clicked {
    background-color: green;
    border: 2px solid black;
    border-radius: 50%;
}

/* Transformação para qualquer ângulo aleatório */
.rotated {
    transition: transform 0.3s ease;
}
